<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Comic+Neue&display=swap"
      rel="stylesheet"
    />
    <link href=".\css\main.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="v30_256">
      <div class="v30_4"></div>
      <div class="v30_5"></div>
      <div class="v33_7">
        <div class="v30_6"></div>
        <div class="name"></div>
        <div class="search_alt"></div>
        <span class="v30_7">Поиск тем, мест и источников</span>
      </div>

      <div class="v32_257">News<span>Bazar</span></div>
      <div class="v30_9">
        <div class="line"></div>
        <div class="name"></div>
        <div class="v31_2">
          <div class="v30_16"></div>
          <span class="v30_24">Спорт</span>
        </div>
        <div class="v31_3">
          <div class="v30_15"></div>
          <span class="v30_23">Наука</span>
        </div>
        <div class="v31_4">
          <div class="v30_14"></div>
          <span class="v30_22">Политика</span>
        </div>
        <div class="v31_5">
          <div class="v30_13"></div>
          <span class="v30_21">В мире</span>
        </div>
        <div class="v31_8">
          <div class="v30_11"></div>
          <span class="v30_12">Закладки</span>
        </div>
        <div class="v31_6">
          <div class="v30_10"></div>
          <span class="v30_20">По категориям</span>
        </div>
        <div class="v31_7">
          <div class="v30_17"></div>
          <span class="v30_19">Главная</span>
        </div>
      </div>
    </div>
  </body>
</html>
